.custom-header-link.has-dropdown {
  background-color: var(--primary-low);
  color: var(--primary);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.custom-header-link-title {
    color: var(--primary);
}